body {
  background-color: darkgreen;
  color: orange;
  text-align: center;
  margin: 30px;
}

ul {
  list-style: none;
  padding: 50px;
}

label {
  padding: 20px;
}

#submit {
  padding-right: 20%;
  padding-left: 20%;
}

#reset {
  padding-right: 20%;
  padding-left: 20%;
}

.red-ping {
  color: red;
}

.blue-pong {
  color: blue;
}

.purple-ping-pong {
  color: purple;
}
