body {
  background-color: darkgreen;
  color: orange;
  text-align: center;
  margin: 30px;
}

ul {
  list-style: none;
  padding: 50px;
  width: 50%;
}

label {
  padding: 20px;
}

#submit {
  padding-right: 20%;
  padding-left: 20%;
}

#reset {
  padding-right: 20%;
  padding-left: 20%;
}

.regNumber {
  color: black;
}

.red-ping {
  color: red;
}

.blue-pong {
  color: blue;
}

.purple-ping-pong {
  color: purple;
}

.table {
  background-color: lightgreen;
  display: none;
  margin-top: 30px;
  border-style: solid;
  border-color: orange;
  border-width: thick;
  border-radius: 2%
}
